<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="molina.raul.lexi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lexi">
        <activity android:name=".bienvenida"></activity>
        <activity android:name=".OlvidasteContrasena" />
        <activity android:name=".IntroduccionActivity" />
        <activity android:name=".crearCuentaActivity" />
        <activity android:name=".pantallaPrincipalActivity" />
        <activity android:name=".TemaPreguntaVideoTradicionesActivity" />
        <activity android:name=".TemaPreguntaLecturaTradicionesActivity" />
        <activity android:name=".TemaPreguntaVideoModaActivity" />
        <activity android:name=".TemaPreguntaLecturaModaActivity" />
        <activity android:name=".TemaPreguntaVideoHistoriaActivity" />
        <activity android:name=".TemaPreguntaLecturaHistoriaActivity" />
        <activity android:name=".TemaPreguntaVideoGastronomiaActivity" />
        <activity android:name=".TemaPreguntaLecturaGastronomiaActivity" />
        <activity android:name=".TemaPreguntaVideoMusicaActivity" />
        <activity android:name=".TemaPreguntaLecturaMusicaActivity" />
        <activity android:name=".TemaPreguntaVideoDeportesActivity" />
        <activity android:name=".TemaPreguntaLecturaDeportesActivity" />
        <activity android:name=".TemaPreguntaVideoPSActivity" />
        <activity android:name=".TemaPreguntaLecturaPSActivity" />
        <activity android:name=".TemaPreguntaLecturaActivity" />
        <activity android:name=".TemaPreguntaVideoActivity" />
        <activity android:name=".TemasPreguntasActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>